<div class="table-footer border-top px-2">
  <div class="d-flex align-items-center">
    <span class="label-regular me-2">Filas</span>
    <select class="form-control form-select" [(ngModel)]="pageSize" (ngModelChange)="onChangePaginate()">
      <option *ngFor="let size of pageSizes" [ngValue]="size">{{size}}</option>
    </select>
  </div>
  <div class="content-pagination">
    <span class="label-regular">{{to}} a {{from}} de {{totalItems}} registros</span>
    <ngb-pagination [maxSize]="3" [rotate]="true" [ellipses]="false" [collectionSize]="totalItems" [(page)]="page"
      [pageSize]="pageSize" (pageChange)="onChangePaginate()">
      <ng-template ngbPaginationPrevious>
        <span class="feather icon-chevron-left"></span>
      </ng-template>
      <ng-template ngbPaginationNext>
        <span class="feather icon-chevron-right"></span>
      </ng-template>
    </ngb-pagination>
  </div>
</div>
