@import './../../../../assets/siaf/variables';

.no-results {

  padding: 2rem 1.5rem;
  text-align: center;

  &__icon {
    font-size: 1.75rem;
    color: $siaf-grey-30;
  }

  &__text {
    font-size: 15px;
    color: $siaf-grey-30;
    margin-bottom: 0;
  }

}
