<div class="toast__animation pt-4" *ngIf="toastService.toasts.length">
  <ngb-toast *ngFor="let toast of toastService.toasts" [class]="toast.classname" [autohide]="true"
    [delay]="toast.delay || 5000" (hidden)="toastService.remove(toast)">
    <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
      <ng-template [ngTemplateOutlet]="$any(toast.message)"></ng-template>
    </ng-template>
    <ng-template #text>
      <div class="alert alert-flotante" role="alert">
        <span class="feather" [class]="geticon(toast.classname)"></span>
        <div class="w-100 mx-3 d-flex flex-column">
          <span class="label-large siaf-grey-30">
            {{ toast.message }}
          </span>
          <div *ngIf="toast.errores">
            <span class="label-large siaf-grey-30" *ngFor="let error of toast.errores">
              {{error.campo}}: {{error.mensaje}}
            </span>
          </div>
        </div>
        <span class="feather icon-x ms-auto c-pointer" (click)="toastService.remove(toast)"></span>
      </div>
    </ng-template>
  </ngb-toast>
</div>
