<form [formGroup]="formulario">
<div class="modal-header">
    <h6 class="modal-title w-100" id="title">
      Nuevo Relacionado
    </h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('Close click')"></button>
  </div>
  <div class="modal-body">
    <h5 class="siaf-card p-3">
      <div class="container-fluid px-0">
        <div class="row align-items-end">
          <div class="col-12">
            <h5>DATOS DE LA DECLARACIÓN</h5>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label for="codRelacionado" class="form-label">Código del relacionado</label>
              <input type="text" class="form-control" id="codRelacionado"
                placeholder="(Autogenerado)">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group required" [ngClass]="{ 'invalid' : invalidControl(tipRelacionadoId) }">
              <label class="form-label" for="mcTipoRelacionado">Tipo de relacionado</label>
              <ng-select [searchable]="false" formControlName="tipRelacionadoId" [clearable]="false"              
                id="tipRelacionadoId" [items]="tipoRelacionado" bindLabel="descripcion" bindValue="maestroId">
              </ng-select>
            </div>
          </div>

        </div>
        <div class="row align-items-end pt-3">
          <div class="col-12">
            <h5>DATOS PERSONALES</h5>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group required" [ngClass]="{ 'invalid' : invalidControl(docIdentidadId) }">
              <label class="form-label" for="mcTipoDocIdentidad">Tipo de documento</label>
              <ng-select [searchable]="false" formControlName="docIdentidadId" [clearable]="false"
                id="docIdentidadId" [items]="tipoDocIdentidad" bindLabel="descripcion" bindValue="maestroId">
              </ng-select>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group required" [ngClass]="{ 'invalid' : invalidControl(numDocIdentidad) }">
              <label class="form-label" for="mcnumeroDocumento">Número de documento</label>
              <input type="text" class="form-control" formControlName="numDocIdentidad" id="mcnumeroDocumento"
                placeholder="" maxlength="12">
            </div>
          </div>
        </div>

        <div class="row align-items-end">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label class="form-label" for="mcapeMPterno">Apellido paterno</label>
              <input type="text" class="form-control" formControlName="apePaterno" id="mcapePaterno"
                placeholder="" maxlength="50">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label class="form-label" for="mcapeMarteno">Apellido materno</label>
              <input type="text" class="form-control" formControlName="apeMaterno" id="mcapeMaterno"
                placeholder="" maxlength="50">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group required" [ngClass]="{ 'invalid' : invalidControl(nombres) }">
              <label class="form-label" for="mcapeNombres">Nombres</label>
              <input type="text" class="form-control" formControlName="nombres" id="mcapeNombres"
                placeholder="" maxlength="100">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label class="form-label" for="mctelefonoCelular">Teléfono celular</label>
              <input type="text" class="form-control" formControlName="telefonoCelular" id="mctelefonoCelular"
                placeholder="" maxlength="9">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group required" [ngClass]="{ 'invalid' : invalidControl(fecVigInicial) }">
              <label for="fecVigInicial" class="form-label">Fecha de inicio</label>
              <input id="fecVigInicial" autocomplete="off" class="form-control form-icon calendar"
                formControlName="fecVigInicial" (click)="dpfechaInicio.toggle()" placeholder="dd-mm-aaaa"
                name="dpfechaInicio" ngbDatepicker #dpfechaInicio="ngbDatepicker">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label for="fecVigFinal" class="form-label">Fecha de final</label>
              <input id="fecVigFinal" autocomplete="off" class="form-control form-icon calendar"
                formControlName="fecVigFinal" (click)="dpfechaFinal.toggle()" placeholder="dd-mm-aaaa"
                name="dpfechaFinal" ngbDatepicker #dpfechaFinal="ngbDatepicker">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label class="form-label" for="mctelefonoFijo">Teléfono fijo</label>
              <input type="text" class="form-control" formControlName="telefonoFijo" id="mctelefonoFijo"
                placeholder="">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label class="form-label" for="mcanexo">Anexo</label>
              <input type="text" class="form-control" formControlName="anexo" id="mcanexo"
                placeholder="">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-6">
            <div class="form-group">
              <label class="form-label" for="mccorreo">Correo electrónico</label>
              <input type="text" class="form-control" formControlName="correoElectronico" id="mccorreo"
                placeholder="correo@dominio.com">
            </div>
          </div>

        </div>
      </div>
    </h5>
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close('Close click')">
      <span class="feather icon-x me-1"></span>
      Cancelar
    </button>
    <button type="button" class="btn btn-primary" [disabled]="loading" ngbAutofocus (click)="onSubmit()">
      <span class="feather icon-check me-1" *ngIf="!loading; else iconLoading"></span>
      <ng-template #iconLoading>
        <div class="spinner-border spinner-border-sm me-2" role="status"></div>
      </ng-template>
      {{ loading ? 'Grabando...' : 'Grabar' }}
    </button>
</div>
</form>
